[Unit]
Description=Kafka Service
After=network.target
Requires=network.target
StartLimitIntervalSec=0

[Service]
User={{ kafka_user }}
Group={{ kafka_group }}
Environment="KAFKA_OPTS=-javaagent:/opt/kafka/libs/{{ jmx_exporter_archive }}.jar=19092:/opt/kafka/config/jmx_exporter.yaml"
EnvironmentFile=/opt/kafka/config/kafka.env
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
SuccessExitStatus=143
TimeoutStopSec=600
Restart=always
OOMScoreAdjust=-500

[Install]
WantedBy=default.target
