LOG_DIR="{{ kafka_server_log }}"
{% if kafka_jvmflags is defined %}
Environment=JVMFLAGS="{{ kafka_jvmflags }}"
{% endif %}
{% if kafka_heap_opts is defined %}
KAFKA_HEAP_OPTS="{{ kafka_heap_opts }}"
{% endif %}
{% if kafka_jmx_port is defined %}
JMX_PORT="{{ kafka_jmx_port }}"
{% endif %}
