[Unit]
Description=Kafka Service
After=network.target
Requires=network.target

[Service]
User={{ kafka_user }}
Group={{ kafka_group }}
EnvironmentFile={{ kafka_config_dir }}/kafka.env
ExecStart=/bin/kafka/kafka-server-start.sh {{ kafka_config_dir }}/server.properties
ExecStop=/bin/kafka/kafka-server-stop.sh
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=default.target
